$puertoRico:#44C3AA;
$eastBay:#394267;

.sign-in {
   text-align: center;
	display: -webkit-flex;
	flex-direction: column;
	height:100%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$puertoRico), color-stop(100%,$eastBay));
   
   .true-content {
      margin: 30% auto;
   }

   ion-item {
   		background:none;
   		color:white;
   }
   ion-input {
   		text-transform: uppercase;
   }
   button {
      margin: 10% auto;
      color:white;
   }
}


