div.selection {
  
  display: block;
  text-align: center;
  padding-top: 5%;
  .planet-name {
  	font-size: 4em;
  }
  h3 {
  	font-size: 2em;
  }
  button: {
  	margin-top: 5%
  }
}

.large-card-images {
	width: 70%;
	margin: 5% auto;
	border-radius:2em;
}



